@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
<br />
<p>
    &ensp; &emsp; &ensp; &emsp; Hcl HealthCare is the most credible and innovative source of health care information and multimedia visual learning assets for hospitals, health care organizations, educational institutions, employers and the pharmaceutical industry. It represents the world's leading online clinical and consumer health information library, with more than 22,000 searchable assets, including more than 8,800 articles, nearly 3,000 illustrations, and 85,000 internal hyperlinks.

</p>
<p>
    &ensp; &emsp; &ensp; &emsp; Trusted by millions of users on a daily basis, all of  Hcl HealthCare's content goes through a rigorous URAC accreditation process to meet the latest regulatory guidelines, and to ensure the most clinically accurate and current information.

    Hcl HealthCare provides world-class client service, strategic consultation.
</p>
<br />
<p>
    &ensp; &emsp; &ensp; &emsp; The cornerstones of healthcare's legacy are its unstinting focus on clinical excellence, affordable costs, modern technology and forward-looking research & academics. Hcl HealthCare was among the earliest hospitals in the world to leverage technology to facilitate seamless healthcare delivery. The organization embraced the rapid advancement in medical equipments across the world, and pioneered the introduction of several cutting edge innovations in India. One of the most significant technological advancements introduced by Apollo Hospitals is the Proton Therapy Centre in Chennai – the first such centre in entire South East Asia, serving over 3.5 Billion people across the region.
</p>
<br />
<div>
<left><img src="~/Images/Best Hospitals 2016.jpg" width="50%" height="50%" /></left>
<right>HCL Healthcare will offer unmatched patient experience and outcomes by adopting global best practices for medical quality and training, using evidence based treatments and integrating advanced technology. HCL Healthcare is determined to be the trusted long-term care partner for people in health or illness.</right>

    </div>

<hr height="150"color="blue"/>