@{
    /**/
    <br />
    /**/


    ViewBag.Title = "About Our Health Care";
}

<h2><b>@ViewBag.Title</b></h2>
@*<h3>@ViewBag.Message</h3>*@
<style>

    hr {
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 8px;
    }
</style>
<br />

<p class="lead" style="font-family: 'Times New Roman'">
    &ensp; &emsp; &ensp; &emsp;<b> Hcl HealthCare</b> is the most credible and innovative source of health care information and multimedia visual learning assets for hospitals, health care organizations, educational institutions, employers and the pharmaceutical industry. It represents the world's leading online clinical and consumer health information library, with more than 22,000 searchable assets, including more than 8,800 articles, nearly 3,000 illustrations, and 85,000 internal hyperlinks.
    <br />
    &ensp; &emsp; &ensp; &emsp; Trusted by millions of users on a daily basis, all of Hcl HealthCare's content goes through a rigorous<b> URAC accreditation process</b> to meet the latest regulatory guidelines, and to ensure the most clinically accurate and current information.
    Hcl HealthCare provides world-class client service, strategic consultation.
    <br />
    &ensp; &emsp; &ensp; &emsp; The cornerstones of healthcare's legacy are its unstinting focus on clinical excellence, affordable costs, modern technology and forward-looking research & academics. Hcl HealthCare was among the earliest hospitals in the world to leverage technology to facilitate seamless healthcare delivery. The organization embraced the rapid advancement in medical equipments across the world, and pioneered the introduction of several cutting edge innovations in India. One of the most significant technological advancements introduced by Apollo Hospitals is the Proton Therapy Centre in Chennai – the first such centre in entire South East Asia, serving over 3.5 Billion people across the region.
</p>
<br />
<div>
    <img src="~/Images/Best Hospitals 2016.jpg" align="left" width="45%" height="50%" />
    <p class="lead" style="font-family: 'Times New Roman'">
        &ensp; &emsp; HCL Healthcare will offer unmatched patient experience and outcomes by adopting global best practices for medical quality and training, using evidence based treatments and integrating advanced technology.

        HCL Healthcare is determined to be the trusted long-term care partner for people in health or illness.
    </p>
</div>

<p class="lead" style="font-family: 'Times New Roman'">We provide 3 types healthcare:   &ensp;Primary health care, Ambulatory care, and Urgent care</p>

<div>
    <h2><b>Primary Care</b></h2>
    <p class="lead" style="font-family: 'Times New Roman'">
        &ensp; &emsp; Primary care refers to the work of health professionals who act as a first point of consultation for all patients within the health care system.Such a professional would usually be a primary care physician, such as a general practitioner or family physician. Another professional would be a licensed independent practitioner such as a physiotherapist, or a non-physician primary care provider such as a physician assistant or nurse practitioner. Depending on the locality, health system organization the patient may see another health care professional first, such as a pharmacist or nurse. Depending on the nature of the health condition, patients may be referred for secondary or tertiary care.
    </p>
</div>
<div>
    <h2><b>Secondary Care</b></h2>
    <p class="lead" style="font-family: 'Times New Roman'">
        &ensp; &emsp; Secondary care includes acute care: necessary treatment for a short period of time for a brief but serious illness, injury, or other health condition. This care is often found in a hospital emergency department. Secondary care also includes skilled attendance during childbirth, intensive care, and medical imaging services.
        The term "secondary care" is sometimes used synonymously with "hospital care". However, many secondary care providers, such as psychiatrists, clinical psychologists, occupational therapists, most dental specialties or physiotherapists, do not necessarily work in hospitals. Some primary care services are delivered within hospitals. Depending on the organization and policies of the national health system, patients may be required to see a primary care provider for a referral before they can access secondary care.
    </p>
</div>
<div>
    <h2><b>Tertiary Care</b></h2>
    <p class="lead" style="font-family: 'Times New Roman'">
        &ensp; &emsp; Tertiary care is specialized consultative health care, usually for inpatients and on referral from a primary or secondary health professional, in a facility that has personnel and facilities for advanced medical investigation and treatment, such as a tertiary referral hospital.
        Examples of tertiary care services are cancer management, neurosurgery, cardiac surgery, plastic surgery, treatment for severe burns, advanced neonatology services, palliative, and other complex medical and surgical interventions.
    </p>
</div>
<br />
<hr />
<center><h1><b>ACHIEVEMENTS</b></h1></center>
<p class="lead" style="font-family: 'Times New Roman'">
    The Week-Hansa Research Best Hospitals Survey	Year
    Apollo Hospitals in Chennai, Delhi, Kolkata and Hyderabad ranked as the best hospitals by The Week-Hansa Research Survey 2019.
<br />
    5S Sustenance Award	Year
    Apollo Cancer Centre, Teynampet, Chennai has been awarded the 5S Sustenance Award 2019 in "The Large Scale Service Category" from the Confederation of Indian Industry - Southern Region.

    2019
</p>
<hr />



