
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<h2>Hi!!!</h2>




<button>@Html.ActionLink("All Employees","ListEmployee","Home")</button>
<button>@Html.ActionLink("DoctorsList","ListDoctors","Home")</button>