
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<br />
<h2> Admin Page</h2>

<br />
<center>
    <button>@Html.ActionLink("EmployeesList", "ListEmployee", "Home")</button>



    <button>@Html.ActionLink("DoctorsList", "ListDoctor", "Home")</button>



    <button>@Html.ActionLink("View Appointments", "ViewAppointments", "Home")</button>
</center>

    
