@model miniproject.Models.Patient
@{
    ViewBag.Title = "AfterLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
    <p style="font-family:'Times New Roman';">
        <h2><b>Welcome To HCL HealthCare</b> </h2>
</p>
</center>



@if (Session["LogedUserFullname"] != null)
{
    <text>
<p style="font-family:Arial Black;">
    Welcome @Session["LogedUserFullname"].ToString() !
</p>
    </text>
}


<br />

<table>
    <tr>
        <td> <button>@Html.ActionLink("For Appointment", "SearchDoctor", "patients", null, new { @class = "btn btn - Success" })</button></td> 
        <td><button>@Html.ActionLink("ViewAppointments", "ViewAppointments", "patients",new { @class = "btn btn-Primary" })</button></td>
    </tr>
</table>
