@{
    ViewBag.Title = "Home Page";
}
<marquee direction="left">
    <img src="~/Images/136939.jpg" width="300" height="300" />
    <img src="~/Images/44ba2a5d-9c88-4c4e-990b-847ed86c3feb-original.jpeg" width="300" height="300" />
    <img src="~/Images/136934.jpg" width="300" height="300" />
    <img src="~/Images/download.jpg"  width="300" height="300" />
    <img src="~/Images/hcl4-k32G--621x414@LiveMint_small.jpg"  width="300" height="300" />
</marquee>

<div class="jumbotron">
    @*<h1>ASP.NET</h1>*@
    <p class="lead" style="font-family: 'Times New Roman'">
        We enhance quality of life by enhancing health.The primary objective of our health delivery system is to enable all employees to receive health care services whenever needed that meet pre-established standards of quality.
    </p>
    <p><a class="btn btn-success" href=http://localhost:53522/Home/LoginView>Learn more &raquo;</a></p>

</div>
<div class="row">
    <div class="col-md-3">
        <p><img src="~/Images/steps/logincrop.png" /></p>
        <p style="font-family:Arial Black;">
            <h>Login</h>
        </p>
    </div>
    <div class="col-md-3">
        <p><img src="~/Images/steps/loccrop1.png" /></p>
        <p style="font-family:Arial Black;">
            <h>Select Location</h>
        </p>
    </div>
    <div class="col-md-3">
        <p><img src="~/Images/steps/doccrop.png" /></p>
        <p style="font-family:Arial Black;">
            <h>Choose Doctor and Specialization</h>
        </p>
    </div>
    <div class="col-md-3">
        <p><img src="~/Images/steps/bookcrop.png" /></p>
        <p style="font-family:Arial Black;">
            <h>Book your Appointment</h>
        </p>
    </div>
    </div>

    <center><h1 style="color:cornflowerblue;">SPECIALIZATION</h1></center>


    <div class="row">
        <div class="col-md-3">
            <p> <img src="~/Images/circle-cropped (2).png" style="width:50%;height:50%" /> </p>
            <p style="font-family:Arial Black;">
                <h>Neurology</h>
            </p>
        </div>
        <div class="col-md-3">
            <p> <img src="~/Images/circle-cropped (4).png" style="width:50%;height:50%" /></p>
            <p style="font-family:Arial Black;">
                <h> Dental</h>
            </p>
        </div>
        <div class="col-md-3">
            <p> <img src="~/Images/circle-cropped (1).png" style="width:50%;height:50%" /></p>
            <p style="font-family:Arial Black;">
                <h>Cardiology</h>
            </p>
        </div>

        <div class="col-md-3">
            <p> <img src="~/Images/circle-cropped (5).png" style="width:50%;height:50%" /> </p>
            <p style="font-family:Arial Black;">
                <h>Gynecology</h>
            </p>
        </div>

    </div>
    <div style="background-color:lightskyblue">
        <div style="font-family:'Times New Roman'">
            @*<td>Chennai </td><td>Bangalore||</td>
                         <td>Madurai</td>
                <td>Hyderabad</td>
                           <td> Noida</td>
                           <td>Pune</td>
                     <td>Kolkata     Mumbai</td> <br />
                     <td>Lucknow     Vijayawada</td>
                     <td>Nagpur      Pune</td>*@

        </div>

    </div>
