
@{
    ViewBag.Title = "UpcomingEvents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<div class="row">
    <div class="col-md-6">
        <div class="card" style="width: 18rem;">
            <img src="~/Images/dec4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">International Conference on Neonatology and Pediatrics</h5>
                <p class="card-text">
                    Neonatology is a subspecialty of pediatrics that consists of the medical care of newborn infants, especially the ill or premature newborn.
                    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
            </div>
        </div>
    </div>
    <br />
    <div class="col-md-6">
        <div class="card" style="width: 18rem;"> 
            <img src="~/Images/cal.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Global Oral Hygiene and Dental Health Summit</h5>
                <p class="card-text">
                    It will empower us to continue plunging further into both the examination of Dentistry and Oral Health.
                    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
            </div>
        </div>
        </div>
    </div>
<br />
<br />
<div class="row">
    <div class="col-md-6">
        <div class="card" style="width: 18rem;">
            <img src="~/Images/cal 2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> Blood donation Camp</h5>
                <p class="card-text">
                    Blood donation is one of the most significant contribution that a person can make towards the society.

                    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card" style="width: 18rem;">
           
            <img src="~/Images/april.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">IDF World Diabetes Congress</h5>
                <p class="card-text">
                    It is the leading medical meeting to discuss diabetes issues, from latest scientific advances
                    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
            </div>
        </div>
    </div>
</div>
      