/*body {
    top: 0;
    left: 0;
}

.container {
    width: 1500px;
    height: 700px;
}

.logo {
    width: 1500px;
    height: 150px;
    background-color: hotpink;
}

.Content {
    width: 1000px;
    height: 500px;
    background-color: #000000;
    float: left;
}

.ads {
    width: 500px;
    height: 500px;
    background-color: #33e90f;
    float: right;
}

.footer {
    width: 1500px;
    height: 50px;
    background-color: #dc1262;
    float: left;
}
body {
}*/
